DEBUG=False
LOCAL=False
SECRET_KEY=change-me
ALLOWED_HOSTS=jgetbot.store,www.jgetbot.store
CSRF_TRUSTED_ORIGINS=https://jgetbot.store,https://www.jgetbot.store
DB_ENGINE=sqlite
SQLITE_PATH=/home/ozon-encounting/db.sqlite3
FORCE_SCRIPT_NAME=
STATIC_URL=/static/
STATIC_ROOT=/home/ozon-encounting/staticfiles
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
OZON_CLIENT_ID=
OZON_API_KEY=
